body{
    font-family: Kanit,Roboto,Arial,R938,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 100%;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.profile{
    width:100%;
    max-width:200px;
}
