@font-face{
	font-family:R938;
	src:
	url(/font/R938.woff2) format('woff2'),
	url(/font/R938.ttf) format('truetype');
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}

[ic]:before{
	font-family:R938;
	font-style: initial;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
w[ic]{
	margin-right:10px;
}
[ic="efff"]:before {
    content: "\efff";
}
body{
    font-family: Kanit,Roboto,Arial,R938,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 100%;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #c6c6c6;
    background: #222b32;
}
.profile{
    width:100%;
    max-width:200px;
}
